.message-detail {
    overflow: auto;
    height: 300px;
    border-bottom: 1px solid #555299;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
}
.message-row {
    width: 100%;
    margin-bottom: 10px;
    display: inline-block;
}
.message-profile {
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    background: #555299;
    width: 30px;
    text-align: center;
    color: #fff;
}
.message-profile.partner {
    background: #ff7676;
}
.message-content {
    padding: 5px 10px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: left;
}
.message-right .message-profile {
    float: right;
    margin-left: 5px;
}
.message-left .message-profile {
    float: left;
    margin-right: 5px;
}
.message-right .message-item {
    float: right;
}
.message-left .message-item {
    float: left;
}
.message-right .message-content {
    margin-right: 35px;
}
.message-left .message-content {
    margin-left: 35px;
}
.message-time {
    display: block;
    font-size: 11px;
    opacity: 0.8;
    font-style: italic;
    margin-bottom: -5px;
    margin-right: -5px;
    text-align: right;
}
.message-title {
    background: #555299;
    padding: 10px;
    color: #fff;
}
.user-list {
    height: 440px;
    overflow: auto;
    padding-right: 5px;
}
.user-item-profile {
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    text-align: center;
    color: #fff;
    float: right;
    margin-left: 10px;
    background: #ff7676;
}
.user-item {
    text-align: right;
    margin-bottom: 10px;
    display: flow-root;
    cursor: pointer;
}
.user-item p {
    line-height: 2;
}
.user-item.active {
    color: #555299;
}
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    background-color: #555299;
    border: 2px solid #555299;
}