/*
* @Author: doanlich
* @Date:   2016-08-30 08:28:04
* @Last Modified by:   Lich
* @Last Modified time: 2017-09-09 22:59:00
*/
.skin-purple .nav-tabs-custom>.nav-tabs>li.active{
    border-top-color: #605ca8;
}
.skin-purple .box.box-primary{
    border-top-color: #605ca8;
}
.bootstrap-datetimepicker-widget table thead tr:first-child th {
    color: #605ca8;
}
.bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
    background: #605ca8;
    color: #fff;
}
.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover{
    background-color: #605ca8;
}
.bootstrap-datetimepicker-widget table td.today:before{
    border-bottom-color: #605ca8;
}
.bootstrap-datetimepicker-widget a[data-action]{
    color: #605ca8;
}
.bootstrap-datetimepicker-widget button[data-action]{
    background-color: #605ca8;
    border-color: #605ca8;
}
.bootstrap-datetimepicker-widget button[data-action]:hover{
    background-color: #5cb85c;
    border-color: #5cb85c;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover{
    background-color: #5cb85c;
    border-color: #5cb85c;
}
.pagination>li>a:hover, .pagination>li>span:hover{
    color: #5cb85c;
}
.pagination>li>a, .pagination>li>span {
    color: #5cb85c;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color: #5cb85c;
    color: #fff;
}
.select2-container--default .select2-results__option[aria-selected=true]:hover{
    color: #fff;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #5cb85c;
    border-color: #5cb85c;
    border-radius: 0;
    color: #fff;
}
.select2-container--default .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #5cb85c 1px;
    outline: 0;
}
.transparent-input,
.transparent-input:focus {
    border-color: #5cb85c;
}
.navbar-default .navbar-nav>li.active>a {
    color: #fff;
    background-color: #5cb85c;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #5cb85c;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover {
    color: #5cb85c;
}
.dropdown-menu>li>a {
    color: #5cb85c;
}
.dropdown-menu>li>a:hover {
    background: #5cb85c;
    color: #fff;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
    color: #5cb85c;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #5cb85c;
    background-color: #fff;
}
blockquote {
    border-color: #5cb85c;
}
.main-color {
    color: #5cb85c;
}
.main-bg-color {
    background: #5cb85c;
}