.overlay{
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 2000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
}
.dots-loading-container {
    width: 66px;
    -webkit-animation: expand .75s ease-in-out infinite alternate;
    -moz-animation: expand .75s ease-in-out infinite alternate;
    -ms-animation: expand .75s ease-in-out infinite alternate;
    animation: expand .75s ease-in-out infinite alternate;
    top: 50%;
    left: 50%;
    margin-left: -33px;
    margin-top: 30px;
    position: fixed;
}
.dot {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    position: absolute;
}
.dot.dot-a {
    -webkit-animation: scaleA 1.5s ease-in-out infinite;
    -moz-animation: scaleA 1.5s ease-in-out infinite;
    -ms-animation: scaleA 1.5s ease-in-out infinite;
    animation: scaleA 1.5s ease-in-out infinite;
    background-color: #f66;
    left: 0%;
}
.dot.dot-b {
    -webkit-animation: scaleB 1.5s ease-in-out infinite;
    -moz-animation: scaleB 1.5s ease-in-out infinite;
    -ms-animation: scaleB 1.5s ease-in-out infinite;
    animation: scaleB 1.5s ease-in-out infinite;
    background-color: #93f;
    left: 33%;
}
.dot.dot-c {
    -webkit-animation: scaleC 1.5s ease-in-out infinite;
    -moz-animation: scaleC 1.5s ease-in-out infinite;
    -ms-animation: scaleC 1.5s ease-in-out infinite;
    animation: scaleC 1.5s ease-in-out infinite;
    background-color: #0cf;
    left: 66%;
}
.dot.dot-d {
    -webkit-animation: scaleD 1.5s ease-in-out infinite;
    -moz-animation: scaleD 1.5s ease-in-out infinite;
    -ms-animation: scaleD 1.5s ease-in-out infinite;
    animation: scaleD 1.5s ease-in-out infinite;
    background-color: #0f9;
    left: 100%;
}
@-moz-keyframes expand{
    from {width:66px} to {
        width:100px;
        -webkit-transform:translateX(-17px);
        -moz-transform:translateX(-17px);
        -ms-transform:translateX(-17px);
        transform:translateX(-17px)
    }
}
@-webkit-keyframes expand{
    from {width:66px} to {
        width:100px;
        -webkit-transform:translateX(-17px);
        -moz-transform:translateX(-17px);
        -ms-transform:translateX(-17px);
        transform:translateX(-17px)
    }
}
@-o-keyframes expand{
    from {width:66px} to {
        width:100px;
        -webkit-transform:translateX(-17px);
        -moz-transform:translateX(-17px);
        -ms-transform:translateX(-17px);
        transform:translateX(-17px)
    }
}
@keyframes expand{
    from {width:66px} to {
        width:100px;
        -webkit-transform:translateX(-17px);
        -moz-transform:translateX(-17px);
        -ms-transform:translateX(-17px);
        transform:translateX(-17px)
    }
}
@-moz-keyframes scaleA{0%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}30%{-webkit-transform:scale(1.5);-moz-transform:scale(1.5);-ms-transform:scale(1.5);transform:scale(1.5)}60%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}@-webkit-keyframes scaleA{0%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}30%{-webkit-transform:scale(1.5);-moz-transform:scale(1.5);-ms-transform:scale(1.5);transform:scale(1.5)}60%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}@-o-keyframes scaleA{0%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}30%{-webkit-transform:scale(1.5);-moz-transform:scale(1.5);-ms-transform:scale(1.5);transform:scale(1.5)}60%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}@keyframes scaleA{0%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}30%{-webkit-transform:scale(1.5);-moz-transform:scale(1.5);-ms-transform:scale(1.5);transform:scale(1.5)}60%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}@-moz-keyframes scaleB{10%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}40%{-webkit-transform:scale(1.5);-moz-transform:scale(1.5);-ms-transform:scale(1.5);transform:scale(1.5)}70%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}@-webkit-keyframes scaleB{10%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}40%{-webkit-transform:scale(1.5);-moz-transform:scale(1.5);-ms-transform:scale(1.5);transform:scale(1.5)}70%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}@-o-keyframes scaleB{10%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}40%{-webkit-transform:scale(1.5);-moz-transform:scale(1.5);-ms-transform:scale(1.5);transform:scale(1.5)}70%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}@keyframes scaleB{10%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}40%{-webkit-transform:scale(1.5);-moz-transform:scale(1.5);-ms-transform:scale(1.5);transform:scale(1.5)}70%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}@-moz-keyframes scaleC{20%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.5);-moz-transform:scale(1.5);-ms-transform:scale(1.5);transform:scale(1.5)}80%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}@-webkit-keyframes scaleC{20%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.5);-moz-transform:scale(1.5);-ms-transform:scale(1.5);transform:scale(1.5)}80%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}@-o-keyframes scaleC{20%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.5);-moz-transform:scale(1.5);-ms-transform:scale(1.5);transform:scale(1.5)}80%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}@keyframes scaleC{20%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.5);-moz-transform:scale(1.5);-ms-transform:scale(1.5);transform:scale(1.5)}80%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}@-moz-keyframes scaleD{30%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}65%{-webkit-transform:scale(1.5);-moz-transform:scale(1.5);-ms-transform:scale(1.5);transform:scale(1.5)}100%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}@-webkit-keyframes scaleD{30%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}65%{-webkit-transform:scale(1.5);-moz-transform:scale(1.5);-ms-transform:scale(1.5);transform:scale(1.5)}100%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}@-o-keyframes scaleD{30%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}65%{-webkit-transform:scale(1.5);-moz-transform:scale(1.5);-ms-transform:scale(1.5);transform:scale(1.5)}100%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}@keyframes scaleD{30%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}65%{-webkit-transform:scale(1.5);-moz-transform:scale(1.5);-ms-transform:scale(1.5);transform:scale(1.5)}100%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}