/*body {
    background-image: url(../img/bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 20px;
}*/
#app {
    margin-top: 80px;
    position: relative;
    margin-bottom: 20px;
}
.navbar {
    background: rgba(255, 255, 255, 0.90);
    border-bottom: 0;
}
.navbar-brand>img {
    display: inline;
    width: 37px;
    vertical-align: middle;
    margin-top: -10px;
    float: left;
    margin-right: 5px;
}
.main-content {
    position: relative;
}
.main-form {
    background: rgba(255, 255, 255, 0.90);
    width: 100%;
    max-width: 600px;
    padding: 40px;
    border-radius: 4px;
    margin: 0 auto;
}
.form-sm {
    max-width: 600px;
}
.form-md {
    max-width: 800px;
}
.form-lg {
    max-width: 1000px;
}
.main-list {
    background: #fff;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 4px;
}
.list-sm {
    max-width: 600px;
}
.list-md {
    max-width: 800px;
}
.list-lg {
    max-width: 1000px;
}
.dashboard-list {
    background: #fff;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 4px;
}
.page-message {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1031;
    width: 300px;
}
.transparent-input,
.transparent-input:focus {
    background: transparent;
    box-shadow: none;
    border: 1px solid #ffa10c;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    padding-left: 0;
}
.has-error .transparent-input,
.has-error .transparent-input:focus {
    background: transparent;
    box-shadow: none;
    border: 1px solid #a94442;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    padding-left: 0;
    color: #a94442;
}
.navbar-default .navbar-nav>li.active>a {
    color: #555;
    background-color: #e7e7e7;
}
label.required:after {
    color: #cc0000;
    content: "*";
    font-weight: bold;
    margin-left: 5px;
}
.text-required {
    color: #cc0000;
}
textarea {
    max-width: 100%;
}
.badge-info {
    background: #5bc0de;
}
.badge-warning {
    background: #f0ad4e;
}
.badge-remove-btn {
    cursor: pointer;
    margin-left: 5px;
}
.badge-sm {
    font-size: 12px;
}
.badge-md {
    font-size: 14px;
}
.hint {
    font-style: italic;
    opacity: 0.7;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-down {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
.title {
    margin-top: 0;
}
.no-padding-top {
    padding-top: 0;
}
.no-padding-bottom {
    padding-bottom: 0;
}
.no-margin-top {
    margin-top: 0;
}
.no-margin-bottom {
    margin-bottom: 0;
}
.dashboard-item {
    background: rgba(255, 255, 255, 0.90);
    width: 100%;
    padding: 20px;
    border-radius: 4px;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
}
.dashboard-item-content {
    height: 330px;
    overflow: auto;
    margin-bottom: 25px;
}
.dashboard-group-button {
    position: absolute;
    bottom: 20px;
}
.dashboard-item-no {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    border-radius: 4px 0 0 0;
}
.booking-food-item {
    background: rgba(255, 255, 255, 0.90);
    width: 100%;
    padding: 20px;
    border-radius: 4px;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
}
.booking-food-item-content {
    height: 250px;
    overflow: auto;
    margin-bottom: 25px;
}
.booking-food-group-button {
    position: absolute;
    bottom: 20px;
}
.booking-food-item-no {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    border-radius: 4px 0 0 0;
}
.welcome {
    width: 100%;
    max-width: 500px;
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.block-info {
    border-bottom: 1px solid #269abc;
}
.well {
    background: #fff;
}
.main-bg {
    background: rgba(255, 255, 255, 0.90);
}

@media (max-width: 768px) {
    .main-form {
        width: 90%;
    }
}